<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://botapplication120170104113209.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>botapplication120170104113209.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BotApplication120170104113209</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BotApplication120170104113209</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BotDataEntities1" Order="1" Enabled="False">
          <Destination Path="Driver={ODBC Driver 13 for SQL Server};Server=tcp:mindcet.database.windows.net,1433;Database=mindcet;Uid=mindcet@mindcet;Pwd={your_password_here};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Bot_Application1.Models.BotDataEntities1, Bot Application1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BotDataEntities" Order="2" Enabled="False">
          <Destination Path="Driver={ODBC Driver 13 for SQL Server};Server=tcp:mindcet.database.windows.net,1433;Database=mindcet;Uid=mindcet@mindcet;Pwd={your_password_here};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BotData.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BotDataEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.BotData.csdl|res://*/Models.BotData.ssdl|res://*/Models.BotData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\BotData.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BotDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BotData.csdl|res://*/Models.BotData.ssdl|res://*/Models.BotData.msl;provider=System.Data.SqlClient;provider connection string='driver="{ODBC Driver 13 for SQL Server}";server=tcp:mindcet.database.windows.net,1433;database=mindcet;uid=mindcet@mindcet;pwd={your_password_here};encrypt=yes;trustservercertificate=no;connection timeout=30;MultipleActiveResultSets=True;App=EntityFramework'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BotDataEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BotData.csdl|res://*/Models.BotData.ssdl|res://*/Models.BotData.msl;provider=System.Data.SqlClient;provider connection string="Driver={ODBC Driver 13 for SQL Server};Server=tcp:mindcet.database.windows.net,1433;Database=mindcet;Uid=mindcet@mindcet;Pwd={your_password_here};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>