<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="MarkR" version="1.16.5945.36818" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="RazorGenerator.Templating" version="2.4.7" targetFramework="net452" />
  <package id="Scribe.Wiki" version="2.2.7" targetFramework="net452" />
  <package id="Speedy" version="4.4.17" targetFramework="net452" />
</packages>